@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Lato', system-ui;
  font-size: medium;
  font-weight: 500;
}
@layer components {
  .focus-ring {
    @apply focus-visible:ring-2
           focus-visible:ring-light-secondary
           focus-visible:ring-offset-2
           dark:focus-visible:ring-dark-secondary
           dark:focus-visible:ring-offset-dark-primary;
  }
}
